output/content/constants.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:level="http://speps.fr/attractouch/constants" targetNamespace="http://speps.fr/attractouch/constants">
	<xs:element name="constants">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fingerRadius" type="xs:unsignedInt" nillable="false"/>
				<xs:element name="firstLevel" type="xs:string" nillable="false"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
